* {box-sizing: border-box;}

.jumbotron {
background: none;
}

h5 {
font-size: 30px;
color: white;
text-align: center;
font-weight: bold;
}

h2 {
text-align: center;
color: white;
}


img {
width:150px;
height:150px;
}

.col-sm-9 {
text-align: left;
}

h3 {
color: white;
}